{
  "presets": [
    "react",
    "es2015"
  ],
  "plugins": [
    "transform-object-assign",
    "transform-flow-strip-types"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-decorators-legacy"
      ]
    }
  }
}
